.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1rem;
}

.button {
  padding: 0.2rem;
}

.slider {
  width: 80%;
  margin: 2rem 10%;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 10%;
  }

  .slider {
    width: 100%;
    margin: 2rem 0;
  }
}