.card {
    position: relative;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.5rem;
    width: 50%;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.card p {
    margin: 0 1rem
}

.card button {
    padding: 0.5rem;
}