.icon {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 1rem
}

.button {
    padding: 0.2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0.5rem 10%;
    padding: 0.5rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);

    font-family: Arial, Helvetica, sans-serif;
}

.card-active {
    border: 2px solid black;
}

.card p {
    margin: 0 1rem
}

.buttons {
    display: flex;
    margin: 0 1rem;
}

.card button {
    justify-content: flex-end;
    width: 2rem;
    padding: 0.2rem;
}

.slider {
    width: 80%;
    margin: 2rem 10%
}

@media screen and (max-width: 600px) {
    .Home_main__EtNt2 {
        padding: 10% !important
    }

    .card,
    .slider {
        width: 100%;
    }
}